body,h1{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Microsoft Yahei', sans-serif;
}

#bg{
	position: absolute;
	z-index: -1;
	/*background: url('/static/img/bg.jpg') no-repeat fixed;*/
	background-size: cover;
	height: 100%;
	width: 100%;
}

#header{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background: #6cf;
}

#header a{
	text-decoration: none;
	background: transparent;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	margin: 0 10px 0 10px;
	color: rgba(255,255,255,0.5);
}

#title{
	float: left;
}

.account{
	float: right;
}

#LOGO{
	height: 100%;
	width: 100%;
}

.LOGO{
	margin-left: 0;
}

#key{
  /*font-size: 18px;*/
  line-height: 18px;
  display: block;
  float: left;
  width: 60%;
  padding: 5px;
  /*border: none;
  outline: none;*/
}

#sub-button{
	font-size: 15px;
	line-height: 30px;
	display: block;
	float: left;
	width: 20%;
	height: 30px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: none;
	background-color: #00b7ff;
}

#country{
	font-size: 15px;
	line-height: 31px;
	display: block;
	float: left;
	width: 20%;
	height: 31px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	border: none;
	background-color: #ffffff;
}

.footer h5,a{
	text-align: center;
	/*color: #fff;*/
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (min-width: 300px){
	.LOGO{
		margin-top: 14%;
	}

	#key{
		line-height: 20px;
		padding: 3px;
	}

	#sub-button{
		height: 27px;
		font-size: 13px;
		line-height: 27px;
	}

	#country{
		height: 27px;
		font-size: 13px;
		line-height: 27px;
	}

}

@media (min-width: 768px){
	.LOGO{
		margin-top: 14%;
	}
	#key{
		line-height: 24px;
		padding: 3px;
	}

	#sub-button{
		height: 32px;
		font-size: 15px;
		line-height: 32px;
	}

	#country{
		height: 32px;
		font-size: 15px;
		line-height: 32px;
	}
}

@media (min-width: 992px){
	.LOGO{
		margin-top: 12%;
	}
}
